<h2 class="page-header">Menu Del dia</h2>
<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Ha comer!</strong> La comida del dia es <a href="#" class="alert-link">Pinto con Huevos</a>.
</div>
<ul class="nav list-group">
    <li class="list-group-item">Comida del dia1</li>
    <li class="list-group-item">Comida del dia2</li>
    <li class="list-group-item">Comida del dia3</li>
    <li class="list-group-item" >Comida del dia4</li>
    <li class="list-group-item" >Comida del dia5</li>
    <li class="list-group-item" >Comida del dia6</li>
    <li class="list-group-item" >Comida del dia7</li>
    <li class="list-group-item" >Comida del dia8</li>
    <li class="list-group-item">Comida del dia9</li>
    <li class="list-group-item">Comida del dia10</li>
</ul>
